body{
    background-color: rgb(50,50,50);
    color:whitesmoke;
    padding:20px;
    font-size: x-large;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
h1{
    margin-top:0;
}
input[type="text"]{
    padding:10px;
    border-radius: 5px;
    outline: none;
    border:none;
    width:60%;
}
#save{
    padding:10px;
    border-radius: 8px;
    border:none;
    color:rgb(255, 255, 255);
    background-color: rgb(56, 209, 56);
    cursor: pointer;
}
#save:active{
    background-color: rgb(41, 155, 41);
}
#back{
    text-decoration: none;
    padding:8px;
    border-radius: 8px;
    background-color: rgb(51, 177, 219);
    color:white;
    position: absolute;
    top:15px;
    right:15px;
    font-size: large;
}
a{
    color:rgb(34, 136, 199);
}

input[type="checkbox"]{
    width:20px;
    height:20px;
}