@import "./themes.css";

body {
	background-color: var(--background);
	color: var(--text);
	padding: 20px;
	font-size: x-large;
	text-align: left;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}
h1 {
	margin-top: 0;
	display: inline-block;
}
#version {
	margin: 5px;
}
input[type="text"],
.input {
	border-radius: 5px;
	padding: 5px;
	outline: none;
	border: none;
	width: 50%;
	height: 35px;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}
.input {
	width: 70px;
	font-size: larger;
	padding: 5px;
}

.prefBox,
#pathConfig, .outputTemplateItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 15px;
	padding: 20px 15px;
	border-radius: 15px;
	background-color: var(--box-main);
}

.prefBox,
#pathConfig {
	background-color: var(--box-main);
}

#ytdlpInfoBox {
	margin: 15px 15px;
	padding: 20px 15px;
	border-radius: 15px;
	background-color: var(--box-main);
}
#outputTemplateTxt {
	padding: 15px 0 15px 30px;
	margin:0;
	font-weight: bold;
	font-size: 30px;
}
.outputTemplateItem {
	background-color: var(--box-separation);
}
#outputTemplateBox {
	margin: 15px 15px;
	padding: 10px 15px;
	border-radius: 15px;
	background-color: var(--box-main);
}
.ytdlpInfoItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 5px;
	padding: 20px 15px;
	background-color: var(--box-separation);
	border-radius: 15px;
	overflow: hidden;
}

#ytDlpArgBox {
	margin: 5px 5px;
	padding: 20px 15px;
	border-radius: 15px;
	background-color: var(--box-separation);
}
#path,
.path {
	font-family: "JetBrains";
	font-size: medium;
}

#flatpakTxt {
	margin: 0 15px;
	padding: 20px 15px;
	cursor: pointer;
	text-decoration: underline;
	color: var(--blueBtn);
	display: none;
}

.prefBox {
	flex-direction: row;
}
#pathConfig {
	flex-direction: column;
}
.configBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
#configBtn {
	display: inline-block;
}
#configOpts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#save {
	padding: 10px;
	border-radius: 8px;
	border: none;
	color: rgb(255, 255, 255);
	background-color: rgb(49, 215, 49);
	cursor: pointer;
}
#save:active {
	background-color: rgb(41, 155, 41);
}
#top {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
}
#back,
#restart {
	text-decoration: none;
	padding: 8px;
	border-radius: 10px;
	margin: 3px;
	font-size: large;
	cursor: pointer;
}
#back {
	background-color: var(--blueBtn);
	color: white;
}

#restart {
	background-color: var(--redBtn);
	color: white;
}
.redBtn {
	background-color: var(--redBtn);
	color: white;
	text-decoration: none;
	border: none;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
	font-size: medium;
	padding: 5px;
}
a {
	color: rgb(29, 140, 209);
	cursor: pointer;
}

input[type="checkbox"] {
	width: 25px;
	height: 25px;
}

.greenBtn {
	padding: 10px;
	margin: 0 20px;
	border: none;
	border-radius: 10px;
	font-size: large;
	color: white;
	background-color: var(--greenBtn);
	cursor: pointer;
	position: relative;
	outline: none;
}
#selectLocation:active {
	border-bottom: none;
	top: 4px;
	margin-bottom: 4px;
}
select {
	padding: 15px;
	background-color: var(--select);
	color: var(--text);
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: large;
	outline: none;
	position: relative;
	width: 220px;
}
#browserInfo {
	cursor: pointer;
}

#configOpts {
	display: none;
}

body::-webkit-scrollbar {
	width: 10px;
}
body::-webkit-scrollbar-thumb {
	background: linear-gradient(rgb(110, 110, 110), rgb(77, 77, 77));
	border-radius: 8px;
}

#proxyTxt:valid {
	border: 2px solid var(--greenBtn);
}

#proxyTxt:invalid {
	border: 2px solid var(--redBtn);
}

#customArgsInput {
	padding: 8px;
	width: 94%;
	margin: auto;
	outline: none;
	font-family: "JetBrains";
	border-radius: 8px;
	resize: none;
	overflow: hidden;
}

.popup-container {
	position: fixed;
	bottom: 30px;
	left: 30px;
	z-index: 9999;

	display: flex;
	flex-direction: column;
	gap: 12px;
}

.popup-item {
	display: inline-block;

	color: #fff;
	padding: 12px 24px;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	font-weight: 600;
	font-size: 15px;

	opacity: 1;
	transition: opacity 0.4s;
}
